#product-overview {
    /*background: linear-gradient(to top, rgba(80, 68, 18, 0) 10%, transparent), url("images/freedom.jpg") left 10% top 20%/cover no-repeat border-box, #ff1b68;*/
    background: linear-gradient(to top, rgba(80, 68, 18, 0) 10%, transparent), url("images/freedom.jpg") center/cover no-repeat border-box, #ff1b68;
    width: 100vw;
    height: 33vh;
    position: relative;
    margin-top: 60px;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 1.6rem;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}


.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px 0;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__features li {
    margin: 8px;
}


#key-features {
    background: #ff1b68;
    margin-top: 16px;
    padding: 16px;
}

#key-features .section-title {
    color: white;
    margin: 32px;
}


.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*.key-feature {
    width: 100%;
}*/


.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 20px;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;

}

/* MODAL*/

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 16px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 16px 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 8px 16px;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--negative {
    background: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}



@media (min-width: 640px) {

    #product-overview {
        height: 40vh;
        background-position: 50% 25%;
    }

    #product-overview h1 {
        font-size: 3rem;
    }

    .key-feature {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        max-width: 400px;
    }
}

@media (min-width: 640px) {

    .plan__list {
        width: 100%;
        text-align: center;
    }

    .plan {
        margin: 8px 2px;
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        min-width: 210px;
        max-width: 400px;
    }

    .plan--highlighted {
        box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
    }
}


@media (min-width: 640px) {

    .key-feature {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        max-width: 400px;
    }
}